// Import necessary styling for demo only (You dont need this)
@import 'demo/ads.scss';
@import 'demo/demo.scss';

// Import variable
@import 'vars.scss';


body {
    font-size: $root-font-size;
    background-color: $background-color;
    color: $text-color;
}

// Begin pricing table styling
.koolui-pribel-slas19 {
    font-family: $custom-google-font;
    padding: $gap * 2 0;
    
    // Pricing table item
    .item {
        background-color: $base-color;
        padding: $gap;
        margin-bottom: $gap;
        border-radius: $item-radius;
        position:relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.05);
        
        // Medium devices (tablets, 992px and up)
        @media screen and (min-width: 992px) {
            margin-bottom: 0;
        }

        // Item media (icon or image)
        &__media {
            width: $media-circle-size;
            height: $media-circle-size;
            border-radius: $media-circle-size / 2;
            background-color: rgba($primary-color,.1);
            box-shadow: 0 0 0 $media-circle-shadow rgba($primary-color,.05);
            margin: $media-circle-shadow auto $gap;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                width: $item-media-size;
                max-width: 100%;
                max-height: 100%;
                position: relative;
                z-index: 3;
            }
        }

        // Typography
        &__heading {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.25rem;
                margin: 0;
                margin-bottom: $gap / 1.5;
                span {
                    position: relative;
                    z-index: 1;
                    &:before {
                        position: absolute;
                        right: 0;
                        bottom: $heading-border-size;
                        left: 0;
                        height: $heading-border-size;
                        background-color: $accent-color;
                        content: "";
                        z-index: -1;
                    }
                }
            }
        }

        // Item content
        &__content {
            ul {
                margin: 0;
                padding: 0 $gap / 3;
                margin-bottom: $gap / 1.5;
                list-style: none;
                li {
                    line-height: $list-item-height;
                    color: $text-muted-color;
                    margin: 0;
                    font-size: .875rem;
                    border-bottom: 1px solid $border-color;
                    &:last-child {
                        border-bottom-width: 0;
                    }
                }
            }
        }

        // Pricing
        &__pricing {
            p {
                margin-bottom: $gap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.375rem;
            }
        }

        // Button
        .btn.btn-primary {
            color: $base-color;
            height: $button-height;
            background-color: $primary-color;
            border-color: $primary-color;
            font-weight: 500;
            font-size: .875rem;
            box-shadow: 0 9px 16px 0 rgba($primary-color,.3);
            &:hover {
                background-color: darken($primary-color,10);
                border-color: darken($primary-color,10);
            }
        }

    }
}