$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$background-color           : #FAFAFA;
$text-color                 : #222827;
$text-muted-color           : #8898A7;
$media-circle-bg            : #f4f4f4;
$border-color               : #dddddd;
$primary-color              : #428DFF;
$accent-color               : #F8E71C;


$custom-google-font         : 'Open Sans', sans-serif;

$item-media-size            : 64px;
$media-circle-size          : 120px;
$media-circle-shadow        : 10px;
$list-item-height           : 40px;
$button-height              : 44px;
$heading-border-size        : 6px;
$item-radius                : 8px;